body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

fieldset {
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.controller-button {
	width : 60px;	
	height : 60px;
}

.controller { 
	float: left
}

.controllerLeft { 
	float: left
}

.controllerRight { 
	float: right
}

.clear {
	clear: both;
}

*:focus {outline: none;}

.ui-loader {
	display: none;
}

.ui-btn-text {
	display: none;
}
}
